
/*===========================
    04  SERVICES css 
===========================*/


.services_area{

	position: relative;z-index: 12;
	.services_row{

-webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);


	    @media #{$md} {
-webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
	    }

	    @media #{$xs} {
-webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
	    }
		.single_service{

			padding: 45px 25px;
			border-radius: 10px;
			  box-shadow: 0 0 50px 0 rgba(162, 162, 162, 0.16);
			  background-color: #ffffff;
			  min-height: 220px;

			  .d-flex{

				    @media #{$lg} {
				         display: unset !important;
				    }


			  }


			  
			    @media #{$md} {
			         padding: 25px 10px
			    }

			    @media #{$xs} {
			         padding: 25px 10px
			    }


			span.icon{

				img{
					width: 120px
				}
			 -webkit-animation: rotation 15s infinite linear;


			@-webkit-keyframes rotation {
			        from {
			                -webkit-transform: rotate(0deg);
			        }
			        to {
			                -webkit-transform: rotate(359deg);
			        }
			}



			}
			h5.title{
			
			  font-size: 25px;
			  font-weight: 700;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.52;
	
			  text-align: center;
			  color: $heading-color;

			
			    @media #{$lg} {
			        font-size: 20px;
			    }
			    @media #{$md} {
			         margin: 20px 0px 10px;font-size: 20px;
			    }

			    @media #{$xs} {
			         margin: 20px 0px 10px;font-size: 18px;
			    }


			}
			p{

			}
                @include transition(0.3s);
	      
	        &:hover {
	           box-shadow: 0 5px 50px 0 rgba(60, 59, 59, 0.16);                @include transition(0.3s);
	          
	        }

		}



	}




}





/*===========================
      PARTNERS  css 
===========================*/


.parters_area{

	.section_title{

		span{
			font-size: 30px;
			color: $heading-color;
		    @media #{$md} {
			        font-size: 25px;
			    }

			    @media #{$xs} {
			         font-size: 20px;
			    }


		}


	}




.slick-slide img {
    display: inline-block;
}




}