

/*===========================
    10  TEAM css 
===========================*/


.team_area{



	.team_member{

		position: relative;
		box-shadow: 0 0 50px 0 rgba(162, 162, 162, 0.16);@include transition(0.3s);
		.team_thumb{

			img{
				    border-radius: 10px;
    display: block;
			        @media #{$lg}{
			           width: 100%;
			        }
			        @media #{$md}{
			            width: 100%;
			        }
			        @media #{$xs}{
			           width: 100%;
			        }

			}

			.team_caption{

		    position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: $white;
		    z-index: 3;
		    width: 80%;
		    margin: 0px auto;
		    border-radius: 5px;
		    padding: 30px 0;


				h4{
					font-size: 25px;font-weight: 500;text-align: center;
				}
				span{
					color: #B2B2B2;
				}




			}

		}
		.team_overlay{
		    position: absolute;
		    top: 0;
		    z-index: 1;
		    width: 100%;
		    height: 100%;
		    margin: 0px auto;
		    display: block;@include transition(0.3s);
		    opacity: 0;
		    ul{
			list-style: outside none none;
			    margin: 0;
			    padding: 0;
			    display: flex;
			    align-items: center;
			    flex-wrap: nowrap;
			    align-content: center;
			    justify-content: center;
			    flex-direction: row;
			    height: 100%;
		    	li{
		    		display: inline-block;
				    padding-right: 5px;
				    width: 40px;
		    		
		    			a{
							color: #fff;
						    display: block;
						    padding: 6px 0px; @include transition(0.3s);

						    &:hover{
						    	color: $heading-color; @include transition(0.5s);

						    }
						  }
		    		
		    	}
		    }


	      &::before{
		      box-shadow: 0 5px 50px 0 rgba(60, 59, 59, 0.16);  @include transition(0.5s);
	           background-image: $theme-gradient-img;
	           position: absolute;left: 0;right: 0;width: 100%;height: 100%;content: "";opacity: 0; color: $white;
	           top:0; z-index: -1;border-radius: 10px;

		      }
		      &:hover::before{
		     opacity: .7;
   				 visibility: visible;


		      }
		      &:hover{
		      	
		      	opacity: .7;visibility: visible;
		      }









		}

	}



}


// Team style for version two

.team_area_style2{



	.team_member{

		position: relative;box-shadow: 0 0 50px 0 rgba(162, 162, 162, 0.16);@include transition(0.3s);
		.team_thumb{

			img{
				    border-radius: 10px;
    display: block;
			        @media #{$lg}{
			           width: 100%;
			        }
			        @media #{$md}{
			            width: 100%;
			        }
			        @media #{$xs}{
			           width: 100%;
			        }

			}

			.team_caption{

		    position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: $white;
		    z-index: 3;
		    width: 80%;
		    margin: 0px auto;
		    border-radius: 5px;
		    padding: 30px 0;


				h4{
					font-size: 25px;font-weight: 500;text-align: center;
				}
				span{
					color: #B2B2B2;
				}




			}

		}
		.team_overlay{
		    position: absolute;
		    top: 0;
		    z-index: 1;
		    width: 100%;
		    height: 100%;
		    margin: 0px auto;
		    display: block;@include transition(0.3s);
		    opacity: 0;
		    ul{
			list-style: outside none none;
			    margin: 0;
			    padding: 0;
			    display: flex;
			    align-items: center;
			    flex-wrap: nowrap;
			    align-content: center;
			    justify-content: center;
			    flex-direction: row;
			    height: 100%;
		    	li{
		    		display: inline-block;
				    padding-right: 5px;
				    width: 40px;
		    		
		    			a{
							color: #fff;
						    display: block;
						    padding: 6px 0px; @include transition(0.3s);

						    &:hover{
						    	color: $heading-color; @include transition(0.5s);

						    }
						  }
		    		
		    	}
		    }


	      &::before{
		      box-shadow: 0 5px 50px 0 rgba(60, 59, 59, 0.16);  @include transition(0.5s);
	           background-image: $theme-banner-g-bg-top-style2;
	           position: absolute;left: 0;right: 0;width: 100%;height: 100%;content: "";opacity: 0; color: $white;
	           top:0; z-index: -1;border-radius: 10px;

		      }
		      &:hover::before{
		     opacity: .7;
   				 visibility: visible;


		      }
		      &:hover{
		      	
		      	opacity: .7;visibility: visible;
		      }









		}

	}



}
// Team style for version three

.team_area_style3{



	.team_member{

		position: relative;box-shadow: 0 0 50px 0 rgba(162, 162, 162, 0.16);@include transition(0.3s);
		.team_thumb{

			img{
				    border-radius: 10px;
    display: block;
			        @media #{$lg}{
			           width: 100%;
			        }
			        @media #{$md}{
			            width: 100%;
			        }
			        @media #{$xs}{
			           width: 100%;
			        }

			}

			.team_caption{

		    position: absolute;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    background: $white;
		    z-index: 3;
		    width: 80%;
		    margin: 0px auto;
		    border-radius: 5px;
		    padding: 30px 0;


				h4{
					font-size: 25px;font-weight: 500;text-align: center;
				}
				span{
					color: #B2B2B2;
				}




			}

		}
		.team_overlay{
		    position: absolute;
		    top: 0;
		    z-index: 1;
		    width: 100%;
		    height: 100%;
		    margin: 0px auto;
		    display: block;@include transition(0.3s);
		    opacity: 0;
		    ul{
			list-style: outside none none;
			    margin: 0;
			    padding: 0;
			    display: flex;
			    align-items: center;
			    flex-wrap: nowrap;
			    align-content: center;
			    justify-content: center;
			    flex-direction: row;
			    height: 100%;
		    	li{
		    		display: inline-block;
				    padding-right: 5px;
				    width: 40px;
		    		
		    			a{
							color: #fff;
						    display: block;
						    padding: 6px 0px; @include transition(0.3s);

						    &:hover{
						    	color: $heading-color; @include transition(0.5s);

						    }
						  }
		    		
		    	}
		    }


	      &::before{
		      box-shadow: 0 5px 50px 0 rgba(60, 59, 59, 0.16);  @include transition(0.5s);
	           background-image: $theme-purple-top-style3;
	           position: absolute;left: 0;right: 0;width: 100%;height: 100%;content: "";opacity: 0; color: $white;
	           top:0; z-index: -1;border-radius: 10px;

		      }
		      &:hover::before{
		     opacity: .7;
   				 visibility: visible;


		      }
		      &:hover{
		      	
		      	opacity: .7;visibility: visible;
		      }









		}

	}



}