// Font Family
$font-1: 'Open Sans', sans-serif;
$font-2:  'PT Sans', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray:#F3F3F3;


// Theme Color
$theme-primary-bg: #D1EEFE;
$theme-second-bg: #fff;
$theme-third-bg: #FBE8FF;


// Button Bg Color
$theme-blue-btn	:#387EFA;
$theme-orange-btn	:#FAB438;


// Need Remove css


$theme-color: #153365;









//Body Color
$body-color: #8A99B2;

// Border Color
$border-color:#387EFA;

// Heading Color
$heading-color: #153365;
$hover-color: #387EFA;





// Responsive Variables

$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';




